<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QuickLauncher.Properties.Settings>
            <setting name="Path1" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
            <setting name="Path2" serializeAs="String">
                <value>C:\Windows\explorer.exe</value>
            </setting>
            <setting name="Path3" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\Steam.exe</value>
            </setting>
            <setting name="Path4" serializeAs="String">
                <value>C:\Users\Mads\AppData\Roaming\Spotify\Spotify.exe</value>
            </setting>
            <setting name="Path5" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
            <setting name="Path6" serializeAs="String">
                <value>C:\Users\Mads\AppData\Local\Discord\Update.exe</value>
            </setting>
            <setting name="Path7" serializeAs="String">
                <value>C:\Program Files\TeamSpeak 3 Client\ts3client_win64.exe</value>
            </setting>
            <setting name="Path8" serializeAs="String">
                <value>C:\Program Files\MotioninJoy\ds3\DS3_Tool.exe</value>
            </setting>
            <setting name="Path9" serializeAs="String">
                <value>C:\Program Files\paint.net\PaintDotNet.exe</value>
            </setting>
            <setting name="Path10" serializeAs="String">
                <value>C:\Windows\System32\cmd.exe</value>
            </setting>
			<setting name="Pathf1" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf2" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf3" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf4" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf5" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf6" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf7" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf8" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf9" serializeAs="String">
                <value />
            </setting>
            <setting name="Pathf10" serializeAs="String">
                <value />
            </setting>
            <setting name="Name1" serializeAs="String">
                <value>Google Chrome</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>Explorer</value>
            </setting>
            <setting name="Name3" serializeAs="String">
                <value>Steam</value>
            </setting>
            <setting name="Name4" serializeAs="String">
                <value>Spotify</value>
            </setting>
            <setting name="Name5" serializeAs="String">
                <value>Notepad++</value>
            </setting>
            <setting name="Name6" serializeAs="String">
                <value>Discord</value>
            </setting>
            <setting name="Name7" serializeAs="String">
                <value>TeamSpeak</value>
            </setting>
            <setting name="Name8" serializeAs="String">
                <value>DS3 Tool</value>
            </setting>
            <setting name="Name9" serializeAs="String">
                <value>Paint.NET</value>
            </setting>
            <setting name="Name10" serializeAs="String">
                <value>CMD</value>
            </setting>
			<setting name="Namef1" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef2" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef3" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef4" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef5" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef6" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef7" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef8" serializeAs="String">
                <value />
            </setting>
            <setting name="Namef9" serializeAs="String">
                <value />
            </setting>
			<setting name="Namef10" serializeAs="String">
                <value />
            </setting>
            <setting name="Key1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Key6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Key7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Key8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Key9" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Key10" serializeAs="String">
                <value>0</value>
            </setting>
			<setting name="Keyf1" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Keyf2" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="Keyf3" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="Keyf4" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="Keyf5" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="Keyf6" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="Keyf7" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Keyf8" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="Keyf9" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="Keyf10" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="Arg1" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg2" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg3" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg4" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg5" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg6" serializeAs="String">
                <value>--processStart Discord.exe</value>
            </setting>
            <setting name="Arg7" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg8" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg9" serializeAs="String">
                <value />
            </setting>
            <setting name="Arg10" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf1" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf2" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf3" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf4" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf5" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf6" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf7" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf8" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf9" serializeAs="String">
                <value />
            </setting>
            <setting name="Argf10" serializeAs="String">
                <value />
            </setting>
			<setting name="EnableKey1" serializeAs="String">
                <value>LButton</value>
            </setting>
            <setting name="EnableKey2" serializeAs="String">
                <value>OemClear</value>
            </setting>
        </QuickLauncher.Properties.Settings>
    </userSettings>
</configuration>